@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:'Open Sans', Courier, monospace;
}

body{
    background-image: linear-gradient(to left, #fff 0%, antiquewhite 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 100vh;
}

.container{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 3rem;
    width: 60%;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

#title{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom: 1px solid black;
}

#title > h2{
    font-size: 2rem;
}

#title > p{
    font-size: 1rem;
}

.form{
    display: grid;
    justify-content: center;
    align-items: center;

    grid-template-columns: auto auto;
    row-gap: 0.5rem;
    column-gap: 3rem;

    margin-top: 1.5rem;
}

#char_amt_container{
    display: flex;
    align-items: center;
}

#char_amt_number{
    margin-left: 10px;
    width: 2rem;
}

#pw-display-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    position: relative;
    margin-top: 2rem;

    width: 30vw;
}

.success{
    position: absolute;
    top: -50%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    font-size: 1rem;
    color: green;
    opacity: 0;
    transition: all 0.3s;
}

.success.active{
    opacity: 1;
}

#pw_display{
    background-color: beige;
    color: #000;
    text-align: center;
    display: flex;
    word-break: break-all;
    padding: 1rem;
    height: 3rem;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.cbx{
    width: 3vw;
    height: 3vh;
    color: #000;
}

.btn{
    background-color: #fff;
    grid-column: span 2;
    padding: 1em 0;
    margin-top: 1rem;
    cursor: pointer;

    border: 1px solid black;
    border-radius: 0.5rem;
    
    transition: background-color 0.2s;
}

.btn:hover{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
}
/* media queries */ 
@media (max-width: 1200px){
    .container{
        width: 75%;
    }
    #pw-display-container{
        width: 40vw;
    }
}
@media (max-width: 768px){
    .container{
        width: 90%;
    }
    #pw-display-container{
        width: 60vw;
    }
}

@media (max-width: 600px){
    .container{
        width: 100%;
        font-size: 0.75rem;
    }
    #title h2{
        font-size: 1.5rem;
    }
    #title p{
        font-size: 0.75rem;
    }
    #pw-display-container{
        width: 70vw;
    }
    #pw_display{
        font-size: 1rem;
    }
}